<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9 no-js"><![endif]-->
<!--[if IE 8 ]><html class="ie8 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
<head>
  <title>Max Rolon</title>
  <meta charset="utf-8" />
  <!--<link rel="icon" type="image/png" href="dist/assets/favicon.png"/>-->
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <!--<link rel="canonical" href="{{ canonical_url }}" />-->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  <link href="dist/index.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div class="container--l mha gutter">
  <header class="u-clear">
    <p class="float-l header__logo">Max Rolon <span class="header__byline c-g2"> / Senior Developer @ <a href="http://barrelny.com">Barrel</a></span></p>
    <div class="float-r icon-bar">
      <a href="https://instagram.com/{{data.instagram}}" class="icon-instagram icon-bar__icon"></a>
      <a href="https://medium.cpm/{{data.medium}}" class="icon-medium icon-bar__icon"></a>
      <a href="https://github.com/{{data.github}}" class="icon-github-circled icon-bar__icon"></a>
    </div>
  </header>
  {{#each data.rows}}
    <div class="row u-clear">
    {{#each this}}
      {{section this.type this}}
    {{/each}}
    </div>
  {{/each}}
  </div>
  <footer class="align-c">
    <p>That's all folks. <a href="mailto:{{data.email}}">{{data.email}}</a> for anything.</p>
  </footer>
  <script type="text/javascript" async src="dist/index.js"></script>
</body>
</html>
