<div class="gist w1 w{{width}}_m float-l half-gutter flex-cell cw">
  <div class="gist__inner bg-c-g1">
    <h1 class="gist__title h3"><a href="{{url}}">Gist: {{title}}</a></h1>
    {{code contents}}
    <a href="{{url}}" class="gist__foot">View Gist
      <i class="gist__icon icon-github-circled"></i>
    </a>
  </div>
</div>
